# Format: #/name defines a new extras_require group called name
# Uncommented lines after the group definition insert things into that group.

#/e2be
python-olm>=3,<4
unpaddedbase64>=1,<3

#/metrics
prometheus_client>=0.6,<0.17

#/proxy
pysocks
aiohttp-socks

#/imageconvert
pillow>=4,<10

#/sqlite
aiosqlite>=0.16,<0.20
